.post-list-minimal
  font-family: $basic-font-family
  margin-top 1em

  .post-minimal
    border-bottom 1px grey dashed
    line-height: 3em;
    height: 3em;

    .post-title
      display: inline-block;
      text-decoration: none;
      overflow: hidden;
      white-space: nowrap;
      font-size 1.2em
      margin-bottom: 20px
      max-width: 60%;
      text-overflow: ellipsis;

    .post-date
      float right
      text-align right
      color $font-secondary-color
