<div id="archive">
  <ul class="post-list">
    <% var field_sort = theme.archive.sort_updated ? 'updated' : 'date' %>
    <% var show_posts = page.posts.sort(field_sort, 'desc').limit(theme.archive.post_per_page || 5) %>
    <% show_posts.each(function(post){ %>
      <%- partial('_partial/post', { post: post }) %>
    <% }); %>
  </ul>

  <%- partial('_partial/paginator') %>
</div>
