<div id="archive">
  <ul class="post-list">
    <% var field_sort = theme.archive.sort_updated ? 'updated' : 'date' %>
    <% if (theme.archive.show_all_posts) { %>
      <% var show_posts = page.posts.sort(field_sort, 'desc') %>
    <% } else { %>
      <% var show_posts = site.posts.sort(field_sort, 'desc').limit(theme.archive.post_per_page || 5) %>
    <% } %>
    <% show_posts.each(function(post, i){ %>
      <%- partial('_partial/post', { post: post }) %>
    <% }); %>
  </ul>
  <% if (theme.archive.show_all_posts) { %>
    <%- partial('_partial/paginator') %>
  <% } %>

</div>
