.wrapper 
  max-width: 48rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  background: no-repeat top/100% url($header-background)

  .header
    min-height: 250px;

.navbar 
  height 4rem
  line-height 4rem
  width 100%
  .container 
    width auto
    max-width 1200px
    text-align center
    margin 0 auto
    display flex
    justify-content space-between

.main 
  flex-grow 1
  flex-shrink 0
  flex-basis auto

.footer
  height 4rem
  width 100%
  text-align center
  padding-top 2em

iframe
  border-radius 7px