/** light theme **/

$header-background = "/images/background-header.gif"
$header-font = "/fonts/hamburger-heaven.ttf"

$background-color = #fff

$font-color = #383838
$font-secondary-color = #a9a9b3

$global-link-color = #383838
$global-link-hover-color = #ff6699




$navbar-active-color = #161209

$post-link-color = #2d96bd
$post-link-hover-color = #ef3982

$pagination-link-color = #2d96bd
$pagination-link-active-color = #000

$border-color = #e8e8e8

$code-font-color = #c7254e
$code-background-color = #f8f5ec

$post-blockquote-border-color = $global-link-hover-color
$post-blockquote-background-color = lighten($global-link-hover-color,90%)

$post-table-background-color = lighten($global-link-hover-color,70%)