@font-face
  font-family: hamburger-heaven
  src: url('../fonts/hamburger-heaven.ttf') format('truetype')
  font-weight: normal
  
@font-face
  font-family: source-sans-pro
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype')
  font-weight: normal

@font-face
  font-family: indie-flower
  src: url('../fonts/IndieFlower-Regular.ttf') format('truetype')
  font-weight: normal
